<!--
/**
* PRAGMA
 * Copyright (C) 2026 VJakoby
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * PRAGMA is architected by VJakoby + 🤖. This program is distributed in
 * the hope that it will be useful, but WITHOUT ANY WARRANTY; without even
 * the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <https://www.gnu.org/licenses/>.
 */
-->
<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
<script>
  window.PRAGMA_CONFIG = Object.freeze({
    pdfExportEnabled: <%- JSON.stringify(Boolean(pdfExportEnabled)) %>,
    engramSearchEnabled: <%- JSON.stringify(Boolean(engramSearchEnabled)) %>
  });
</script>
<%- include('partials/body') %>
<%- include('partials/overlays') %>
<div class="app-tooltip" id="appTooltip" role="tooltip" aria-hidden="true"></div>
<script src="app/state.js?v=20260325"></script>
<script src="app/sanitize.js?v=20260327"></script>
<script src="app/targets.js?v=20260325"></script>
<script src="app/placeholders.js?v=20260401"></script>
<script src="app/kb.js?v=20260410"></script>
<script src="app/search.js?v=20260325"></script>
<% if (matrixEnabled) { %>
<script src="app/matrix.js?v=20260406"></script>
<% } %>
<script src="app/content-panel.js?v=20260402"></script>
<script src="app/editor-theme.js?v=20260325"></script>
<script src="app/note-editor.js?v=20260407"></script>
<script src="app/kb-editor.js?v=20260401"></script>
<script src="app/workbench.js?v=20260613"></script>
<script src="app/notes.js?v=20260613"></script>
<script src="app/quick-log.js?v=20260401"></script>
<script src="app/timeline.js?v=20260325"></script>
<script src="app/app.js?v=20260407"></script>
<script src="app/shell.js?v=20260325"></script>
</body>
</html>
